@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vietnam-600;
  src: url('/src/fonts/BeVietnamPro-Regular.ttf') format("opentype");
  font-style: normal;
  font-display: swap;
}

@layer components {
  .text1 {
    @apply text-5xl font-bold text-text1;
  }
  .text2 {
    @apply text-base font-semibold text-text1;
  }
  .text3 {
    @apply text-base font-semibold text-text2;
  }
  .text4 {
    @apply text-[1.3rem] font-normal text-text3;
  }
  .text5 {
    @apply text-[1.3rem] font-normal text-text1;
  }
  .text5 {
    @apply text-[1.5rem] font-semibold text-text1;
  }
  .text6 {
    @apply text-3xl font-bold text-text1;
  }
  .text7 {
    @apply text-xs text-text4 font-[400];
  }
  .text8 {
    @apply text-lg text-main1 font-extrabold
  }
  .text9 {
    @apply text-xs text-text1 font-bold;
  }
  .text10 {
    @apply text-sm text-text5 font-semibold
  }

}



* {
  /* Define a largura da barra de rolagem */
  scrollbar-width: thin; /* Aplica uma barra de rolagem fina */

  /* Define a cor da barra de rolagem e da trilha */
  scrollbar-color: #fff transparent; /* Barra vermelha e trilha preta */

  /* Define o comportamento da barra de rolagem */
  scrollbar-gutter: stable; /* Reserva o espaço para a barra de rolagem sempre */
}

/* Estiliza a barra de rolagem para navegadores WebKit */
*::-webkit-scrollbar {
  width: 20px; /* Define a largura da barra de rolagem */
  height: 20px; /* Define a altura da barra de rolagem horizontal */
}

*::-webkit-scrollbar-thumb {
  background-color: #ff0000; /* Define a cor da thumb da barra de rolagem */
  border-radius: 10px; /* Arredonda as bordas da thumb */
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Define a cor da trilha da barra de rolagem */
}

/* Outras opções de personalização, caso necessário */
*::-webkit-scrollbar-corner {
  background-color: transparent; /* Define a cor da área onde as barras de rolagem se encontram */
}