@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vietnam-600;
  src: url('/src/fonts/BeVietnamPro-Regular.ttf') format("opentype");
  font-style: normal;
  font-display: swap;
}

@layer components {
  .text1 {
    @apply text-5xl font-bold text-text1;
  }
  .text2 {
    @apply text-base font-semibold text-text1;
  }
  .text3 {
    @apply text-base font-semibold text-text2;
  }
  .text4 {
    @apply text-[1.3rem] font-normal text-text3;
  }
  .text5 {
    @apply text-[1.3rem] font-normal text-text1;
  }
  .text5 {
    @apply text-[1.5rem] font-semibold text-text1;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}