@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translatey(100%);
    opacity: 0;
  }
  to {
    transform: translatey(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}

.animate-slideInTop {
  animation: slideInTop 1s ease-in-out;
}
